/* Кнопка выпадающего списка */
.dropbtn {
    background-color: #637468;
    padding: 16px;
    position:relative;
    border: none;
    cursor: pointer;
    width: 100%;
    font-size: 150%;
  }
  
  /* Кнопка выпадающего меню при наведении и фокусировке */
  .dropbtn:hover, .dropbtn:focus {
    background-color: #5b6b60;
  }
  
  /* Контейнер <div> - необходим для размещения выпадающего содержимого */
  .dropdown {
    position: relative;
    display: inline-block;
    width: 100%;
  }
  
  /* Выпадающее содержимое (скрыто по умолчанию) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #7a8a7e;
    min-width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    text-align: center;
  }
  
  /* Ссылки внутри выпадающего списка */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Изменение цвета выпадающих ссылок при наведении курсора */
  .dropdown-content a:hover {background-color: #707e73;}
  
  /* Показать выпадающее меню (используйте JS, чтобы добавить этот класс .dropdown-content содержимого, когда пользователь нажимает на кнопку выпадающего списка) */
  .show {display:block;}

/*Общее*/
header, footer, main {display: block;}

* {
    margin: 0%;
    padding: 0%;
    font-family: exfont;
    font-size: 118%;
    cursor: default;
    color: #222;
}

body {
  background-color: #84978e;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto
}

@font-face {
	font-family: 'exfont'; 
	src: url(extrafont.ttf);
}

.substain {
  background-image: url(fone2.jpg);
  background-repeat: no-repeat;
  background-size:cover;
}

.antimat {
  background-image: url(fone3.jpeg);
  background-repeat: no-repeat;
  background-size:cover;
}

.antimat .hr-header-block-1  {
  background-color:rgb(246, 133, 133)
}

.substain .hr-header-block-1  {
  background-color:rgb(99, 231, 244)
}

/* Части Сайта */

.header {
    border-radius: 1%;
    background-color: #708577;
    margin: 3vh 0vh;
    margin-bottom: 2vh;
    padding: 3%;
    height: fit-content;
}

footer {
    margin-top: auto;
    background-color: #708577;
    padding: 2% 2% 2% 3%;
    line-height: 170%;
}

.footer-right {
    position: relative;
    display: block;
    float: right;
    line-height: 100%;
}

/* .mainblock {
  


/* Первичные Блоки */

.block-1 {
  background-color: #708577;
  margin: 3vh 0vh;
  padding: 3%;
}

.mess {
  border-radius: 3%;
  background-color: #5d7264;
  padding: 2%;
  text-align: center;
  display:block;
  max-width: 80%;
  width: fit-content;
  margin: 0 auto;
}

.hr-header-block-1 {
  color: #7a8a7e;
  min-height: 1.3vh;
  background-color: #4b6451;
  border: 0px;
  border-radius: 0px;
}

/* Таблицы */

.block1-ul {
  line-height: 280%;
  font-size: 100%;
  text-align: center;
}

/* Ссылки */

.silki:visited, .silki:link {
  color: #222;
}
.silki {
  cursor: pointer;
}